# Paper AIOM

In [2]:
# Classes

import pandas as pd
import numpy as np
import matplotlib as mpl

In [15]:
data = pd.read_excel("D:\GithubDjonathan\ReinforcementLearning\Paper\Demanda.xlsx", engine='openpyxl')

In [16]:
data.head()

   Nº do material       Data  Demanda
0        14512164 2019-11-30      1.0
1        11613045 2019-12-07     13.0
2        15321257 2019-12-11      3.0
3        14961079 2019-12-12      1.0
4        11557275 2019-12-17    100.0